extends ./../layout/main.pug

block css
  link(href='dist/css/styles.min.css', rel='stylesheet')

block content
    main.container
      section.jumbotron
        h1.display-4 Página não encontrada

        hr

        a.btn.btn-primary(href="http://127.0.0.1:3000") Voltar
